/*
Theme Name: Seofy
Theme URI: http://seofy.webgeniuslab.net/
Author: WebGeniusLab
Author URI: http://webgeniuslab.net/
Description: WebGeniusLab team presents absolutely fresh and powerful WordPress theme. It combines new technologies and functional design that helps to showcase your content in better way. This WordPress theme is developed with attention to details, so you can create effective presentation of a website easily. Enjoy building web pages with our product!
Version: 1.5.12
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: seofy
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}

p, .seofy_module_double_headings .heading_title *, h3.services_title {
    font-family: 'Roboto', sans-serif !important;
}

.wgl-header-row.wgl-header-row-section_top {
    display: none;
}

body .seofy_module_services_3 .services_wrapper {
    background: transparent !important;
    text-align: center;
    box-shadow: unset;
}

body span.heading_divider {
    display: none;
}

body .seofy_module_double_headings .heading_title .heading_divider {
    display: none;
}

body .featu-col .serv-btn a {
    padding: 24px 29px;
    border-radius: 40px !important;
}

body .seofy_module_services_3 .services_title {
    font-size: 26px;
}

body .diff-sec {
    background-size: cover !important;
    background-position: center center !important;
    margin-top: 47px;
    border-radius: 105px !important;
    margin-left: 9px;
}

body .wgl-container {
    width: 1600px;
}

body .copyright p {
    margin: 0px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

body #footer .footer_top-area {
    background: url(http://lci.qce.mybluehost.me/itweb_dev/wp-content/uploads/2018/11/Path-18400.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 20px;
}

body #footer .copyright {
    background: #29ABE2;
}

body #shiftnav-toggle-main.shiftnav-toggle-edge-right {
    /*     left: auto;
        right: 11em;
        top: 1em; */
}

.shiftnav-toggle-style-burger_only .shiftnav-toggle-burger {
    background: transparent;
    background-size: unset;
    background-position: 0%
}

.shiftnav .fa, .shiftnav-toggle .fa {
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 30px;
}

#shiftnav-toggle-main.shiftnav-toggle-style-burger_only {
    background: transparent !important;
}

body .header_search.search_standard {
    display: none;
}

body #rev_slider_1_2 {
    border-radius: 80px !important;
    margin-top: 90px !important;
    margin-left: 9px !important;
}

body #rev_slider_1_2 #slider-1-slide-23-layer-26 {
    border-radius: 80px !important;
}

body #rev_slider_1_2 #slider-1-slide-1-layer-26 {
    border-radius: 90px !important
}

body footer#footer {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 11px;
    margin-top: 6em;
}

body form.newsletter {
    max-width: 50%;
    margin: 0 auto;
}

body input.tnp-button {
    background: #FF65A7 !important;
    background-size: unset;
    border-radius: 40px;
    float: right;
    min-height: 70px;
    width: 240px;
}

body .tnp-field.tnp-field-email {
    width: 100%;
    float: left;
    height: 70px;
    margin-top: -43px;
}

body .tnp-field.tnp-field-button {
    float: right;
}

body form.newsletter input.tnp-email {
    width: 100%;
    padding: 34px !important;
}

body .tnp-field label {
    visibility: hidden;
}

body #main {

}

body .tnp-field.tnp-field-button {
    float: right;
    position: relative;
    right: -18px;
    bottom: 34px;
}

body input.tnp-email {
    background: #FFFFFF !important;
    border: 1px solid #C0C0C0 !important;
    border-radius: 26px !important;
}

body input.tnp-email::placeholder {
    color: #000;
}

body .newslter-sec {
    background-repeat: no-repeat !important;
    background-position: right center !important;
    margin-top: 38px;
}

body .girl-imgs {
    position: relative;
    top: 1em;
}

body .have-ques h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 46px;
}

body .have-ques h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    margin-bottom: 21px;
}

body .footer-top {
    border-bottom: 2px solid #2eb8f3;
    padding-bottom: 20px;
}

body #rev_slider_2_1 #slider-2-slide-2-layer-26 {
    border-radius: 40px !important;
}

body #seofy_button_5f5938589eecf a {
    border-radius: 40px !important;
}

.footer_top-area a:hover, .footer_top-area a {
    font-size: 16px;
    font-family: roboto;
    color: #fff;
    font-weight: 400;
}

.footer_top-area a:hover {
    color: #FF65A7;
}

.footer-1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.main-footer span {
    font-weight: bold;
}

ul#menu-footer_menu-2 {
    display: flex;
}

body .widget.widget_nav_menu ul li a:before {
    background: transparent !important;
}

ul#menu-footer_menu-2 li a {
    color: #fff;
}

body #seofy_button_5f593a7ff1a24 a {
    border-radius: 40px !important;
}

body form.newsletter input.tnp-email {
    width: 100%;
    padding: 34px !important;
}

body #seofy_button_5f59cbe1c2964 a {
    border-radius: 40px !important;
}

body .learn-btn a {
    border-radius: 40px !important;
}

body #rev_slider_1_2_wrapper .hephaistos .tp-bullet.selected {
    border-color: #FF65A7;
    background: #FF65A7;
}

body #rev_slider_1_2_wrapper .hephaistos .tp-bullet {
    border-color: #E8E8E8;
    background: #E8E8E8;
}

#scroll_up.active {
    right: 33px;
    background: #FF65A7 !important;
    border-radius: 100%;
}

body #rev_slider_1_2_wrapper .hephaistos .tp-bullet:hover {

}

body .wgl-header-row.wgl-header-row-section_middle {
    margin-top: 15px;
}

body .default_logo {
    width: 270px;
    margin-left: 11px;
}

BODY .shiftnav-toggle-button {
    padding: 10px 14px;
    background: TRANSPARENT;
    color: #eee;
    margin-bottom: 126px;
    margin-right: -23px;
}

.wgl-header-row_wrapper {
    margin-top: 53px;
}

span.menu-text {
    font-size: 16px;
    font-weight: normal;
}

button#shiftnav-toggle-main-button {
    display: none;
}

@media only screen and (max-width: 1366px) {
    button#shiftnav-toggle-main-button {
        height: 56px !important;
        display: inline-block;
        background: #FF65A7 !important;
    }

    body .wgl-container {
        width: 1170px;
    }

}

@media only screen and (max-width: 1280px) {

    button#shiftnav-toggle-main-button {
        height: 56px !important;
        display: inline-block;
        background: #FF65A7 !important;
    }

}

@media only screen and (max-width: 767px) {

}

.shiftnav-toggle-button:hover {
    display: inline-block;
    padding: 10px 15px;
    background: transparent;
    color: #eee;
}

#rev_slider_2_1_wrapper #slider-2-slide-2-layer-26 {
    text-transform: capitalize !important;
}

body .full-service {
    background-position: 1px 91px !important;
}

body .full-service .service-heading .heading_title {
    margin-top: -25px;
    display: inline-block;
    margin-left: 8px;
}

body .full-service .seofy_module_text.service-text {
    font-size: 22px !important;
    line-height: 36px !important;
    margin-top: 16px;
    padding-top: 17px;
    padding-left: 10px;
    font-weight: normal;
    width: 75% !important;
}

body .learn-btn a {
    font-style: normal;
    width: 200px;
    height: 70px;
    text-transform: capitalize;
    line-height: 40px !important;
    margin-left: -2px;
}

body .learn-btn {
    padding-top: 59px;
    margin-top: 24px;
    margin-left: 10px;
}

body .featured-sec {
    background-position: 3px 265px !important;
    margin-top: 151px !important;
    margin-left: 21px !important;
}

body .featured-sec p {
    font-size: 22px;
    line-height: 35px;
    font-weight: normal;
    width: 970px;
    margin: 24px auto;
    padding-left: 0px;
}

body .featu-col {
    margin-top: 83px;
    display: inline-block;
    text-align: center;
    padding-left: 22px;
}

body .fullservice-sec .coin-img .vc_column-inner {
    background-size: cover;
    min-height: 500px;
}

body .vc_custom_1600425456821 {
    background-image: url(http://lci.qce.mybluehost.me/itweb_dev/wp-content/uploads/2020/09/Img-about.png?id=2170) !important;
    background-position: 92px -70px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

body .featserc-sec {
    max-width: 76%;
    margin: 0 auto;
}

body .featserc-sec .serv-boxes h3 {
    font-weight: bold;
    font-size: 26px;
    line-height: 20px;
    font-family: roboto;
    letter-spacing: -1px;
    margin-left: -30px;
    padding-top: 4px;
}

body .featserc-sec .feat-box {
    margin-top: 40px;
}

.serv-btn {
    width: 240px;
    height: 70px;
    text-align: center;
    margin: 16px auto;
}

.serv-btn a {
    width: 240px;
    height: 70px;
    border-radius: 40px !important;
    line-height: 40px;
    text-transform: capitalize;
    margin-left: 9px;
}

#seofy_button_5f64c55f40ca4 a {
    width: 200px;
    height: 60px;
    line-height: 34px;
}

div#seofy_button_5f64c55f40ca4 {
    width: 200px;
    height: 60px;
}

#seofy_button_5f64ceeb5e341 a {
    line-height: 44px;
    text-transform: capitalize;
}

ul#menu-footer_menu-1 {
    display: inline-flex;
}

.featserc-sec .serv-icon-1 {
    margin-top: 66px;
    padding-left: 23px;
}

.featserc-sec .serv-icon-2 {
    margin-top: 64px;
    margin-left: 15px;
}

.featserc-sec .serv-icon-3 {
    margin-top: 64px;
    margin-left: 15px;
}

.featserc-sec .serv-boxes {
    margin-top: -25px;
    padding-left: 37px;
}

.featserc-sec .serv-boxes p {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    color: #404040;
    padding-top: 28px;
    margin-left: -12px;
}

#seofy_button_5f676c576e2b1 a {
    text-transform: capitalize !important;
    line-height: 45px;
    margin-left: 8px;
}

/*==============================*/

.add_mountain_rev_slider .revslider-initialised rs-sbg-wrap:before, .add_mountain_rev_slider .tp-bgimg.defaultimg:before {
    background-size: cover !important;
    height: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
}

.main-slider #rev_slider_2_1 .rs-parallax-wrap {
    left: 155px !important;
}

body #shiftnav-toggle-main.shiftnav-toggle-edge-right {
    display: none;
}

.main-slider #slider-2-slide-2-layer-26 {
    padding: 25px 0 !important;
    text-align: center !important;
}

span.menu-text {
    font-size: 16px;
    font-weight: normal;
    padding: 0 7px 0 0;
}

header.wgl-theme-header.header_overlap .shiftnav-toggle-button {
    color: #FFFFFF;
}

header.wgl-theme-header.header_overlap:before {
    display: none;
}

.wgl-theme-header.header_overlap {
    position: absolute !important;
    z-index: 99 !important;
    width: 100%;
    left: 0;
    top: 0;
}

.wgl-theme-header {
    z-index: inherit !important;
    width: 100%;
    left: 0;
    top: 0;
}

.shiftnav-toggle-button .fa {
    margin-right: 0;
    font-size: 20px;
    margin-top: 0;
}

body .fullservice-sec .coin-img .vc_column-inner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.security-carosuel .gradient-button {
    padding: 20px 0 !important;
    text-align: center !important;
    border-radius: 100px !important;
    width: 200px !important;
    text-transform: capitalize !IMPORTANT;
}

.security-carosuel .tp-leftarrow,
.security-carosuel .tp-rightarrow {
    display: none !important;
}

.security-carosuel #rev_slider_1_2_wrapper .hermes.tp-bullets {
    position: absolute;
    display: block !important;
    z-index: 1000;
    visibility: visible !important;
    top: 90% !important;
}

.security-carosuel #rev_slider_1_2_wrapper .hermes .tp-bullet:after {
    background-color: #ff65a7 !important;
}

.security-carosuel #rev_slider_1_2_wrapper .hermes .tp-bullet {
    background-color: #E8E8E8;
    box-shadow: inset 0 0 0 2px #E8E8E8;
    width: 20px;
    height: 20px;
}

.security-carosuel #rev_slider_1_2_wrapper .hermes .tp-bullet:hover {
    background-color: #E8E8E8 !important;
    box-shadow: inset 0 0 0 2px #E8E8E8 !important;
}

body .featured-sec {
    background-position: 3px 265px !important;
    margin: 60px 0 0 !important;
}

.featured-sec .heading_title {
    font-weight: bold !important;
}

.featserc-sec a.wgl_button_link {
    font-weight: 600 !important;
    padding: 25px 0;
    margin: 0;
}

body .diff-sec .shiftnav-wrap .heading_title {
    font-weight: bold !important;
    margin-bottom: 30px;
    font-size: 55px !important;
}

body .diff-sec .shiftnav-wrap .seofy_module_infobox .infobox_title {
    font-size: 26px;
    font-weight: bold !important;
}

body .diff-sec .shiftnav-wrap .seofy_module_infobox .infobox_content {
    font-weight: 500 !important;
}

body .newslter-sec {
    margin-top: 100px;
}

body .newslter-sec h2.vc_custom_heading.subscribe-heading.wpb_animate_when_almost_visible.wpb_fadeInLeft.fadeInLeft.wpb_start_animation.animated {
    font-weight: bold !important;
}

body .newslter-sec form.newsletter input.tnp-email {
    font-size: 18px;
}

body .tnp-field.tnp-field-button {
    right: -7px;
    bottom: 38px;
}

body footer#footer {
    margin-top: 0;
}

body .have-ques h3 {
    font-size: 24px;
    font-weight: 600;
    font-family: roboto;
}

body .have-ques h2 {
    font-weight: 800;
    font-family: roboto;
}

.main-footer p span {
    font-size: 14px;
    font-weight: bold;
}

.main-footer p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2px !important;
}

.main-footer ul#menu-footer_menu-1 .menu-item a {
    color: #ffffff;
}

body footer#footer .row-footer {
    padding-bottom: 30px !important;
}

body footer#footer .row-footer .acenter {
    text-align: right;
    margin-right: 0;
}

body footer#footer .row-footer ul#menu-footer_menu-1 {
    display: inline-flex;
    float: right;
}

.featserc-sec .serv-boxes p {
    margin-left: 0;
}

body .fullservice-sec .wpb_wrapper.shiftnav-wrap a.wgl_button_link .fa-angle-right,
.security-carosuel .gradient-button .fa-angle-right,
.featserc-sec a.wgl_button_link .fa-angle-right,
body #rev_slider_2_1 #slider-2-slide-2-layer-26 i.pe-7s-angle-right {
    animation: scroll_up_anim 1.5s infinite;
    padding: 0px 5px 0px 5px;
}

body .fullservice-sec .wpb_wrapper.shiftnav-wrap a.wgl_button_link .fa-angle-right:before,
.security-carosuel .gradient-button .fa-angle-right:before,
.featserc-sec a.wgl_button_link .fa-angle-right:before,
body #rev_slider_2_1 #slider-2-slide-2-layer-26 i.pe-7s-angle-right:before {
    display: inline-block;
    transform: rotate(-90deg);
}

body .shiftnav-toggle-button {
    background: #443 !important;
}

/*========== home page ==========*/

.shiftnav .shiftnav-panel-close {
    padding: 2px 20px !important;
}

header.wgl-theme-header .shiftnav .shiftnav-panel-close {
    font-size: 23px;
}

header.wgl-theme-header.header_overlap .shiftnav-toggle-button {
    display: block;
}

header.wgl-theme-header.header_overlap nav.primary-nav {
    display: none;
}

header.wgl-theme-header.header_overlap .wgl-header-row .header_side.h_align_center {
    width: inherit;
    text-align: right;
}

header.wgl-theme-header .shiftnav-toggle-button {
    display: none;
}

header.wgl-theme-header nav.primary-nav {
    display: block;
}

header.wgl-theme-header .wgl-header-row .header_side.h_align_center {
    width: 100%;
    text-align: right;
}

header.wgl-theme-header .primary-nav ul li.menu-item a span:after,
header.wgl-theme-header .primary-nav ul li ul li a span:before {
    background-color: #009CDC;
}

header.wgl-theme-header .primary-nav ul li.menu-item a,
header.wgl-theme-header .primary-nav ul li.menu-item.current-menu-item a {
    color: #777777;
}

header.wgl-theme-header .primary-nav ul li.menu-item a {
    font-size: 18px;
}

header.wgl-theme-header nav.primary-nav ul li.menu-item a:hover,
header.wgl-theme-heade .primary-nav ul ul li.menu-item.current-menu-item a {
    color: #009CDC;
}

header.wgl-theme-header nav.primary-nav ul li#menu-item-2559 a {
    color: #ffffff;
    background-color: #FF65A7;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    width: 180px;
    border: 1px solid;
    border-radius: 100px;
    text-transform: capitalize;
    padding: 12px 0;
    height: 57px;
    text-align: center;
    margin-top: 25px;
}

header.wgl-theme-header nav.primary-nav ul li#menu-item-2559 a span:after {
    display: none;
}

header.wgl-theme-header nav.primary-nav ul li#menu-item-2559 a i {
    animation: scroll_up_anim 1.5s infinite;
    padding: 0px 5px 0px 5px;
}

header.wgl-theme-header nav.primary-nav ul li#menu-item-2559 a .fa-angle-right:before {
    display: inline-block;
    transform: rotate(-90deg);
}

header.wgl-theme-header nav.primary-nav ul li#menu-item-2559 a:hover {
    color: #FF65A7;
    background-color: transparent;
}

.footer_top-area .menu .menu-item {
    display: inline-block !important;
}

ul#menu-footer_menu li a {
    padding: 0 !important;
    color: #ffffff !important;
}

/*========== home page end==========*/

/*========== about page ========== */
.about-bg h1 {
    font-size: 55px;
    line-height: 70px;
    margin-top: 40px;
}

.about-bg {
    padding-top: 50px;
    padding-bottom: 50px;
}

.whowe-sec .who-col .who-wetext {
    font-size: 18px;
    line-height: 30px;
    margin-left: 0;
    color: #404040;
}

.whowe-sec .inner-heading-2 {
    font-size: 50px;
    color: #29ABE2;
    line-height: 80px;
    font-weight: bold;
    padding-bottom: 9px;
}

.whatdo-sec .what-para h2 {
    font-size: 50px;
    line-height: 80px;
    color: #212B44;
    font-weight: bold;
    font-family: 'Roboto';
    padding-bottom: 9px;
}

.whatdo-sec .what-para p {
    font-size: 18px;
    color: #404040;
    line-height: 30px;
}

.about-main-sec-3 {
    background: url("http://lci.qce.mybluehost.me/itweb_dev/wp-content/uploads/2020/10/Group-12310.png") no-repeat center;
    background-size: cover;
    padding: 54em 0 130px;
    top: -190px;
}

.about-main-sec-3 .content-box .inner-para {
    margin-top: 0px;
}

.clint-images-sec {
    margin: -100px 0 0;
}

.clint-images-sec h2.vc_custom_heading.happy-heading {
    padding-bottom: 30px;
    font-weight: bold !important;
}

/*========== about page end ========== */

/*========== service page ========== */

header.wgl-theme-header:before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    background: url(http://lci.qce.mybluehost.me/itweb_dev/wp-content/uploads/2020/12/Mask-Group-10.png) no-repeat center;
    background-size: cover;
    width: 1047px;
    height: 575px;
}

.inner-heading {
    font-size: 60px;
    color: #212B44;
    font-weight: bold;
    line-height: 80px;
}

.inner-para {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #404040;
    margin-top: 23px;
}

.service-maine-sec {
    padding: 100px 0 80px;
}

.service-sec-1 .service-box {
    background-color: #ffffff;
    padding: 30px 25px 30px;
    box-shadow: 0 0 15px 1px #f7f7f7;
    margin: 15px 15px;
    border-radius: 10px;
}

.service-sec-1 .vc_column-inner {
    padding: 0 !important;
}

.service-sec-1 .service-box .services_wrapper {
    padding: 0;
}

.service-sec-1 .service-box .services_icon_wrapper {
    background-color: transparent;
    margin-bottom: 23px;
}

.service-sec-1 .service-box .services_icon img {
    width: 75%;
    vertical-align: middle;
}

.service-sec-1 .service-box h3.services_title {
    color: #29ABE2;
    font-size: 24px;
    font-weight: 600;
}

.service-sec-1 .service-box .services_content {
    color: #404040;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.service-sec-1 .service-img-box {
    margin-top: 60px;
}

.service-sec-1 .service-box .services_button {
    color: #FF65A7;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 100px;
    text-transform: capitalize;
    padding: 7px 32px;
}

.service-sec-1 .service-box .services_button.button-read-more:hover {
    background-color: #FF65A7;
    color: #ffffff;
}

.service-sec-1 .service-box .services_button.button-read-more:hover:after {
    display: none;
}

/*========== service page end ========== */

/*========== service detail branding page ========== */

.inner-heading-2 {
    color: #29ABE2;
    font-size: 50px;
    font-weight: bold;
}

.service-detail-branding-maine-sec {
    padding: 100px 0 80px;
}

.service-detail-branding-maine-sec .inner-heading {
    font-weight: 400;
}

.service-detail-branding-maine-sec .btn-box .service-btn {
    color: #ffffff;
    background-color: #FF65A7;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 100px;
    text-transform: capitalize;
    padding: 7px 32px;
}

.service-detail-branding-maine-sec .btn-box .service-btn i {
    animation: scroll_up_anim 1.5s infinite;
    padding: 0px 5px 0px 5px;
}

.service-detail-branding-maine-sec .btn-box .service-btn .fa-angle-right:before {
    display: inline-block;
    transform: rotate(-90deg);
}

.service-detail-branding-maine-sec .btn-box .service-btn:hover {
    color: #FF65A7;
    background-color: transparent;
}

.service-detail-branding-maine-sec .btn-box {
    margin-top: 30px;
}

.service-detail-branding-sec-1 {
    padding: 25px 0 0;
}

.service-detail-branding-sec-1 .branding-content-box {
    padding: 50px 0 0 0;
}

.service-detail-branding-sec-1 .branding-content-box .inner-para {
    margin-top: 0;
}

.service-detail-branding-sec-2 {
    padding: 92px 0 70px;
}

.service-detail-branding-sec-2 .branding-content-box-1 .inner-heading-2 {
    color: #212B44;
    line-height: 60px;
}

.service-detail-branding-sec-2 .branding-content-box-1 .inner-para {
    font-size: 18px;
}

.service-detail-branding-sec-2 .shiftnav-wrap {
    position: inherit;
}

.service-detail-branding-sec-2 .branding-content-box-2:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -170px;
    background: url("http://lci.qce.mybluehost.me/itweb_dev/wp-content/uploads/2020/12/square.png") no-repeat center;
    width: 160px;
    height: 120px;

}

.service-detail-branding-sec-2 .branding-content-box-2:after {
    content: '';
    position: absolute;
    right: 0px;
    top: -95px;
    background: url("http://lci.qce.mybluehost.me/itweb_dev/wp-content/uploads/2020/12/circle.png") no-repeat center;
    width: 100px;
    height: 94px;

}

.service-detail-branding-sec-2 .branding-content-box-2 .inner-heading-2 {
    font-size: 80px;
    font-weight: 300;
    line-height: 100px;
}

.service-detail-branding-sec-2 .branding-content-box-2 .inner-heading-2:after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -90px;
    background: url("http://lci.qce.mybluehost.me/itweb_dev/wp-content/uploads/2020/12/pattern.png") no-repeat center;
    width: 150px;
    height: 130px;

}

.service-detail-branding-sec-3 {
    padding: 20px 160px 0 !important;
}

.service-detail-branding-sec-3 .branding-content-box-1 {

}

.service-detail-branding-sec-3 .branding-content-box-1 .box-1 {
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px #f1f1f1;
    margin: 10px 7px;
    padding: 0 40px 0;
    border-radius: 5px;
    display: flex;
}

.service-detail-branding-sec-3 .branding-content-box-1 .box-1 .text-1 {
    color: #29ABE2;
    font-size: 70px;
    padding-right: 20px;
}

.service-detail-branding-sec-3.service-cyber-security-sec-3 .branding-content-box-1 .box-1 .text-1 span {
    font-size: 20px;
    display: block;
    font-weight: bold;
    text-align: center;
    margin: -35px 0 0px;
}

.service-detail-branding-sec-3 .branding-content-box-1 .box-1 .text-2 {
    color: #404040;
    font-size: 18px;
    line-height: 28px;
    padding: 22px 0 0;
}

.service-detail-branding-sec-3 .btn-box .service-btn {
    color: #ffffff;
    background-color: #FF65A7;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    width: 220px;
    border: 1px solid;
    border-radius: 100px;
    text-transform: capitalize;
    padding: 11px 32px;
    margin-top: 20px;
}

.service-detail-branding-sec-3 .btn-box .service-btn i {
    animation: scroll_up_anim 1.5s infinite;
    padding: 0px 5px 0px 5px;
}

.service-detail-branding-sec-3 .btn-box .service-btn .fa-angle-right:before {
    display: inline-block;
    transform: rotate(-90deg);
}

.service-detail-branding-sec-3 .btn-box .service-btn:hover {
    color: #FF65A7;
    background-color: transparent;
}

.service-detail-branding-sec-3 .btn-box {
    margin-top: 30px;
}

.service-detail-branding-sec-4 {
    padding: 60px 0 85px;
    background-color: #29abe2;
    margin: 70px 0 0;
}

.service-detail-branding-sec-4 .inner-heading-2 {
    color: #ffffff;
    padding-bottom: 24px;
}

.service-detail-branding-sec-4 .content-box .text-heading {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 22px;
    line-height: 34px;
}

.service-detail-branding-sec-4 .content-box .inner-pera {
    font-size: 16px;
    color: #F2F2F2;
    font-weight: 400;
    line-height: 26px;
}

.service-detail-branding-sec-5 {
    padding: 80px 0 0;
}

.service-detail-branding-sec-5 .inner-heading-2 {
    color: #212B44;
    padding-bottom: 20px;
}

.service-detail-branding-sec-5 .content-box ul {
    padding: 0;
    margin: 0;
}

.service-detail-branding-sec-5 .content-box ul li {
    display: inline-block;
    padding: 0 10px 20px;
}

.service-detail-branding-sec-5 .content-box ul li:before {
    display: none;
}

.service-detail-branding-sec-5 .content-box ul li a {
    color: #212B44;
    font-size: 20px;
    font-weight: 400;
    width: 269px;
    height: 60px;
    padding-top: 13px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    display: inline-block;
    text-align: center;
}

/*========== service detail branding page end ========== */

/*========== service cyber security page ========== */

.service-detail-branding-maine-sec.service-cyber-security-maine-sec .inner-heading {
    font-size: 42px;
}

.service-detail-branding-maine-sec.service-cyber-security-maine-sec .inner-heading b {
    font-size: 60px;
}

.service-detail-branding-sec-2.service-cyber-security-sec-2 .branding-content-box-2 .inner-heading-2 {
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;
}

.service-detail-branding-sec-2.service-cyber-security-sec-2 .branding-content-box-2 .inner-heading-2:after {
    bottom: 10px;
}

.service-detail-branding-sec-2.service-cyber-security-sec-2 .branding-content-box-2:before {
    bottom: -70px;
}

.service-detail-branding-sec-3.service-cyber-security-sec-3 .branding-content-box-1 .box-1 {
    height: 160px;
}

.service-detail-branding-sec-3.service-cyber-security-sec-3 .branding-content-box-1 .box-1 .text-1 span {
    font-size: 20px;
    display: block;
    font-weight: bold;
    text-align: center;
    margin: -35px 0 0px;
}

.service-cyber-security-sec-5 {
    padding: 80px 0 0;
}

.service-cyber-security-sec-5 .inner-heading-2 {
    color: #212B44;
    padding-bottom: 20px;
}

.service-cyber-security-sec-5 .content-box .box-1 {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0px #efefef;
    margin: 17px 8px;
    border-radius: 10px;
    padding: 26px 15px 30px 35px;
}

.service-cyber-security-sec-5 .content-box .box-1 .img-box {
    margin: 15px 20px 0 0;
    width: 400px;
}

.service-cyber-security-sec-5 .content-box .box-1 .text-heading {
    color: #29ABE2;
    font-size: 24px;
    font-weight: 600;
}

.service-cyber-security-sec-5 .content-box .box-1 .inner-para {
    font-size: 18px;
    margin: 15px 0 25px;
}

.service-cyber-security-sec-5 .content-box .box-1 .btn-box a {
    color: #FF65A7;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 100px;
    text-transform: capitalize;
    padding: 7px 32px;
    display: inline-block;
}

.service-cyber-security-sec-5 .content-box .box-1 .btn-box a:hover {
    background-color: #FF65A7;
    color: #ffffff;
}

/*========== service cyber security page end ========== */

/*========== ou client page ========== */

.our-client-sec-1 {
    padding: 50px 0 0;
}

.our-client-sec-1 .content-box .box-1 {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0px #efefef;
    margin: 17px 8px;
    border-radius: 10px;
    padding: 26px 15px 10px 30px;
}

.our-client-sec-1 .content-box .box-1 .img-box {
    margin: 19px 20px 0 0;
    width: 290px;

}

.our-client-sec-1 .content-box .box-1 .inner-para {
    font-size: 16px;
    margin: 5px 40px 25px 0;
}

.our-client-sec-1 .content-box .box-1 .btn-box {
    text-align: right;
}

.our-client-sec-1 .content-box .box-1 .btn-box a {
    color: #404040;
    font-size: 12px;
    display: inline-block;
}

.our-client-sec-1 .content-box .box-1 .btn-box a i {
    color: #FF65A7;
    margin-right: 10px;
}

/*========== our client page end ========== */

/*========== dos protection page ========== */

.service-detail-branding-sec-1.service-dos-protection-sec-1 .branding-content-box .inner-heading-2 {
    font-size: 48px;
    line-height: 60px;
}

.service-detail-branding-sec-1.service-dos-protection-sec-1 .branding-content-box .inner-para {
    margin-top: 20px;
}

.service-dos-protection-sec-2 {
    padding: 60px 0 0;
}

.service-dos-protection-sec-2 .wpb_text_column :last-child {
    margin-bottom: 13px;
}

.service-dos-protection-sec-2 .content-box-1 {
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px #f1f1f1;
    margin: 10px 7px;
    padding: 30px 40px 40px 40px;
    border-radius: 10px;
    border-left: 10px solid #29ABE2;
}

.service-dos-protection-sec-2 .content-box-1 .heading-text {
    color: #212B44;
    font-size: 30px;
    font-weight: bold;
}

.service-dos-protection-sec-2 .content-box-1 .inner-para {
    font-size: 18px;
    margin-top: 10px;
}

.service-dos-protection-sec-3 {
    background-color: #212B44;
    padding: 80px 0 70px;
    margin: 70px 0 0;
}

.service-dos-protection-sec-3 .inner-heading-2 {
    color: #ffffff;
    font-size: 55px;
    line-height: 70px;
    text-align: right !important;
    padding-top: 20px;
}

.service-dos-protection-sec-3 .content-box-1 ul {
    margin: 0;
    padding: 0;
}

.service-dos-protection-sec-3 .content-box-1 ul li {
    display: block;
    font-size: 18px;
    color: #F2F2F2;
    font-weight: 400;
    padding-left: 0;
}

.service-dos-protection-sec-3 .content-box-1 ul li i {
    color: #29ABE2;
    font-size: 16px;
    padding-right: 10px;
}

.service-dos-protection-sec-3 .content-box-1 ul li:before {
    display: none;
}

.service-dos-protection-sec-3 .content-box-1 .btn-box .service-btn {
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #FF65A7;
    border-radius: 100px;
    text-transform: capitalize;
    padding: 6px 50px;
    height: 50px;
    background: #FF65A7;
    margin: 35px 0 0 50px;
    display: inline-block;
}

.service-dos-protection-sec-3 .content-box-1 .btn-box .service-btn:hover {
    background: transparent;
    border: 1px solid #FF65A7;
    color: #FF65A7 !important;
}

.service-dos-protection-sec-3 .content-box-1 .btn-box .service-btn i {
    animation: scroll_up_anim 1.5s infinite;
    padding: 0px 5px 0px 5px;
}

.service-dos-protection-sec-3 .content-box-1 .btn-box .service-btn .fa-angle-right:before {
    display: inline-block;
    transform: rotate(-90deg);
}

/*========== dos protection page end ========== */

/*========== contact us page ========== */

.service-detail-branding-maine-sec.contactUs-banner-maine-sec .inner-heading {
    font-weight: bold;
}

.service-detail-branding-maine-sec.contactUs-banner-maine-sec .inner-para span {
    color: #29ABE2;
}

.contact-us-sec-1 .contact-box-2 img {
    text-align: center;
    width: 80%;
    margin-top: 70px;
}

.contact-us-sec-1 .contact-box-2 ul {
    margin: 50px auto 0;
    padding: 0;
    text-align: left;
    width: 40%;
}

.contact-us-sec-1 .contact-box-2 ul li {
    display: flex;
    padding: 0;
}

.contact-us-sec-1 .contact-box-2 ul li:before {
    display: none;
}

.contact-us-sec-1 .contact-box-2 ul li a {
    color: #ADB4C4;
    font-weight: 500;
    font-size: 18px;
    display: flex;
}

.contact-us-sec-1 .contact-box-2 ul li a i {
    color: #009CDC;
    padding-right: 10px;
    padding-top: 7px;
    font-size: 16px;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box {
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 #f5f5f5;
    padding: 40px 40px 43px 40px;
    border-radius: 10px;
    margin: 10px;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box .text-1,
.contact-us-sec-1 .contact-box-1 .letes-talk-form-box br {
    display: none;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box .wpcf7-form-control {
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 30px;
    border-radius: 25px;
    background: #F6F6F6;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box .wpcf7-form-control::placeholder {
    color: transparent;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box span.wpcf7-form-control-wrap {
    margin-bottom: 0;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box textarea.wpcf7-form-control.wpcf7-textarea {
    padding: 16px 30px;
    height: 160px;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box .btn-box {
    text-align: center;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box .btn-box .form-btn {

    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 100px;
    text-transform: capitalize;
    padding: 0 45px;
    height: 57px;
    background: #FF65A7;
    margin-top: 10px;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box .btn-box .form-btn:hover {
    background: transparent;
    color: #FF65A7 !important;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box .btn-box .form-btn i {
    animation: scroll_up_anim 1.5s infinite;
    padding: 0px 5px 0px 5px;
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box .btn-box .form-btn .fa-angle-right:before {
    display: inline-block;
    transform: rotate(-90deg);
}

.contact-us-sec-1 .contact-box-1 .letes-talk-form-box label span.text-1 {
    display: block;
    color: #ADB4C4;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 0 10px;
}

/*========== contact us page end ========== */

/*========== form popup page end ========== */

#popmake-2484 {
    padding: 50px 40px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgb(103 103 103);
}

#popmake-2484 .pum-title {
    font-size: 60px;
    font-weight: bold;
    color: #29ABE2;
}

#popmake-2484 .letes-talk-form-box .text-1 {
    color: #404040;
    font-size: 20px;
    line-height: 15px;
    font-weight: 500;
    margin: 10px 0 30px;
}

#popmake-2484 .letes-talk-form-box .wpcf7-form-control {
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 30px;
    border-radius: 25px;
    background: #F6F6F6;
}

#popmake-2484 .letes-talk-form-box .wpcf7-form-control::placeholder {
    color: #ADB4C4;
}

#popmake-2484 .letes-talk-form-box span.wpcf7-form-control-wrap {
    margin-bottom: 0;
}

#popmake-2484 .letes-talk-form-box textarea.wpcf7-form-control.wpcf7-textarea {
    padding: 16px 30px;
    height: 160px;
}

#popmake-2484 .letes-talk-form-box .btn-box {
    text-align: center;
}

#popmake-2484 .letes-talk-form-box .btn-box .form-btn {

    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 100px;
    text-transform: capitalize;
    padding: 0 45px;
    height: 57px;
    background: #FF65A7;
    margin-top: 10px;
}

#popmake-2484 .letes-talk-form-box .btn-box .form-btn:hover {
    background: transparent;
    color: #FF65A7 !important;
}

#popmake-2484 .letes-talk-form-box .btn-box .form-btn i {
    animation: scroll_up_anim 1.5s infinite;
    padding: 0px 5px 0px 5px;
}

#popmake-2484 .letes-talk-form-box .btn-box .form-btn .fa-angle-right:before {
    display: inline-block;
    transform: rotate(-90deg);
}

#popmake-2484 .letes-talk-form-box label span.text-1 {
    display: none;

}

/*========== form popup page end ========== */

@media screen and (max-width: 1366px) {

    #rev_slider_2_1 {
        height: 753px !important;
    }

    .main-slider #rev_slider_2_1 .rs-parallax-wrap {
        left: 105px !important;
    }

    header.wgl-theme-header .wgl-header-row_wrapper {
        height: 0 !important;

    }

    header.wgl-theme-header .default_logo {
        width: 180px;
        margin-left: 0;
        margin-top: 22px;
    }

    header.wgl-theme-header .shiftnav-toggle-button {
        margin-bottom: 0;
        margin-right: 0;
    }

    .main-slider #slider-2-slide-2-layer-2,
    .main-slider #slider-2-slide-2-layer-2 span {
        line-height: 55px !important;
        font-size: 45px !important;
    }

    .main-slider #slider-2-slide-2-layer-21 {
        margin-top: -40px !important;
        width: 549.799px;
    }

    .main-slider #slider-2-slide-2-layer-26 {
        padding: 23px 0 !important;
        top: -60px;
    }

    body .full-service .seofy_module_text.service-text {
        font-size: 19px !important;
        line-height: 30px !important;
        width: 100% !important;
    }

    body .fullservice-sec .coin-img .vc_column-inner {
        background-size: cover;
        min-height: 400px;
    }

    body .full-service .learn-btn {
        padding-top: 45px;
    }

    body .fullservice-sec .wpb_wrapper.shiftnav-wrap a.wgl_button_link {
        padding: 24px 0;
    }

    body .featured-sec {
        margin: 30px 0 0 !important;
    }

    body .featserc-sec .serv-boxes h3 {
        font-size: 26px;
        line-height: 40px;
    }

    body .featured-sec .wpb_wrapper.shiftnav-wrap .heading_title {
        font-size: 60px !important;
        margin: 0 !important;
    }

    .footer_top-area p {
        margin-bottom: 10px !important;
    }

    body .learn-btn a {
        line-height: 20px !important;
    }

    body .featserc-sec {
        max-width: 100%;
        margin: 0 auto;
    }

    .featserc-sec .serv-icon-1 {
        margin-top: 66px;
        padding-left: 0;
    }

    .featserc-sec .serv-boxes {
        margin-top: -25px;
        padding-left: 0;
    }

    body .diff-sec {
        margin-top: 47px;
        border-radius: 100px !important;
        margin-left: 0;
        padding-top: 30px !important;
        padding-bottom: 40px !important;
    }

    body .diff-sec .seofy_module_infobox.layout_top .infobox_wrapper {
        padding: 30px 20px 30px 20px;
    }

    body .tnp-field.tnp-field-button {
        right: -7px;
        bottom: 48px;
        margin-bottom: 0 !important;
    }

    body .tnp-field.tnp-field-button input.tnp-button {
        min-height: 40px;
        padding: 0px 20px;
        color: #ffffff;

    }

    .security-carosuel .gradient-button {
        padding: 24px 0 !important;
        text-align: center !important;
        border-radius: 100px !important;
        width: 200px !important;
        height: 70px !important;
        text-transform: capitalize !IMPORTANT;
        font-size: 18px !important;
    }

}

@media screen and (max-width: 1200px) {

    /*========== home page ==========*/
    header.wgl-theme-header nav.primary-nav {
        display: none;
    }

    header.wgl-theme-header .shiftnav-toggle-button {
        display: block;
    }

    header.wgl-theme-header .shiftnav-toggle-button {
        margin-top: -15px;
    }

    header.wgl-theme-header .wgl-mobile-header .container-wrapper {
        background-color: transparent;
    }

    header.wgl-theme-header {
        background-color: transparent !important;
    }

    /*========== home page end ==========*/
    .wgl-theme-header {
        position: absolute;
    }

    img.logo-mobile {
        height: 60px !important;
    }

    body .wgl-container {
        width: 100%;
    }

    .hamburger-box {
        display: none !important;
    }

    .wgl-theme-header,
    .wgl-theme-header .wgl-mobile-header {
        background-color: inherit !important;
    }

    .wgl-theme-header.header_overlap {
        position: absolute !important;
        z-index: 1;
        background-color: transparent !important;
    }

    #rev_slider_2_1 {
        height: 550px !important;
    }

    .wgl-header-row .wgl-header-row_wrapper {
        position: relative !important;
        display: initial !important;
        flex-flow: inherit !important;
        align-items: inherit !important;
        justify-content: inherit !important;
        width: 100%;
    }

    .position_center.header_side {
        float: left;
        padding-left: 30px;
    }

    header.wgl-theme-header.header_overlap .shiftnav-toggle-button {
        float: right;
        margin-right: 20px;
    }

    header.wgl-theme-header.header_overlap .shiftnav-toggle-button {
        margin-right: 20px;
        margin-top: -10px;
    }

    .main-slider {
        height: 540px;
    }

    .main-slider #rev_slider_2_1 .rs-parallax-wrap {
        left: 35px !important;
    }

    .main-slider #slider-2-slide-2-layer-21 {
        margin-top: 0px !important;
        width: 489.799px !important;
    }

    .main-slider #slider-2-slide-2-layer-26 {
        padding: 23px 0 !important;
        top: -25px;
    }

    body .full-service .service-heading .heading_title {
        font-size: 50px !important;
        margin-top: -25px;
        display: inline-block;
        margin-left: 8px;
        margin-bottom: 0;
    }

    body .full-service .seofy_module_text.service-text {
        font-size: 17px !important;
        line-height: 26px !important;
    }

    body .full-service .seofy_module_text.service-text {
        width: 95% !important;
    }

    body .full-service .learn-btn {
        padding-top: 15px;
    }

    body #rev_slider_1_2 {
        border-radius: 80px !important;
        margin-top: 0px !important;
        margin-left: 0 !important;
    }

    body .featured-sec {
        background-position: 3px 265px !important;
        margin-top: 50px !important;
        margin-left: 0 !important;
    }

    body .featserc-sec .serv-boxes h3 {
        font-size: 23px;
        line-height: 30px;
    }

    body .featured-sec p {
        font-size: 14px;
        line-height: 31px;
    }

    .featserc-sec .serv-boxes {
        padding-left: 20px;
        padding-right: 20px;
    }

    .featserc-sec .wpb_single_image {
        margin-left: 0;
    }

    body .diff-sec .shiftnav-wrap .heading_title {
        font-size: 50px !important;
    }

    body .diff-sec .shiftnav-wrap .seofy_module_infobox .infobox_title {
        font-size: 18px;
        font-weight: bold !important;
    }

    body .diff-sec .shiftnav-wrap .seofy_module_infobox .infobox_content {
        font-weight: 500 !important;
        font-size: 14px;
        line-height: 23px;
    }

    body .newslter-sec .tnp-field.tnp-field-button {
        right: -7px;
        bottom: 48px;
    }

    body .diff-sec {
        margin-left: 0;
    }

    .row-footer {
        padding: 0 50px 0px;
    }

    body .have-ques h3 {
        font-size: 22px;
        margin-top: 30px;
    }

    body .have-ques h2 {
        font-size: 30px;
        line-height: 46px;
        margin-bottom: 9px;
    }

    .footer_top-area p {
        margin-bottom: 19px;
        font-size: 14px;
        line-height: 20px;
    }

    /*========== about page ========== */
    .about-bg .about-heading {
        padding-left: 25px;
    }

    .about-bg .about-heading h1 {
        font-size: 41px;
        line-height: 50px;
        margin-top: 40px;
    }

    .whatdo-sec .what-para p br {
        display: none;
    }

    .whatdo-sec .what-para p {
        padding: 0 20px 0;
    }

    /*========== about page end ========== */
    /*========== service page ========== */
    .wgl-theme-header .wgl-mobile-header .container-wrapper {
        background-color: #fff;
    }

    .inner-heading {
        font-size: 45px;
        color: #212B44;
        font-weight: bold;
        line-height: 50px;
    }

    .inner-para {
        font-size: 16px;
        line-height: 23px;
    }

    header.wgl-theme-header .shiftnav-toggle-button {
        float: right;
        margin-right: 30px;
    }

    header.wgl-theme-header:before {
        top: -20px;
        width: 780px;
        height: 435px;
    }

    .service-maine-sec {
        padding: 100px 0 80px 30px;
    }

    .service-sec-1 .service-box {
        padding: 30px 10px 30px;
        margin: 15px 5px;
    }

    .service-sec-1 .service-box .services_content {
        font-size: 16px;
        line-height: 24px;
    }

    .service-sec-1 .service-box h3.services_title {
        font-size: 20px;
    }

    /*========== service page end ========== */
    /*========== service detail branding page ========== */
    .service-detail-branding-maine-sec {
        padding: 100px 0 80px 30px;
    }

    .service-detail-branding-sec-2 .branding-content-box-1 .inner-heading-2 {
        line-height: 45px;
        font-size: 40px;
    }

    .service-detail-branding-sec-2 .branding-content-box-2 .inner-heading-2 {
        font-size: 60px;
        line-height: 65px;
    }

    .service-detail-branding-sec-3 {
        padding: 20px 0px 0 !important;
    }

    .service-detail-branding-sec-4 .content-box .inner-pera {
        font-size: 15px;
        line-height: 23px;
    }

    .service-detail-branding-sec-4 .content-box .text-heading {
        font-size: 24px;
        color: #ffffff;
        font-weight: bold;
        padding-bottom: 5px;
        line-height: 34px;
    }

    .service-detail-branding-sec-5 .content-box ul li a {
        width: 225px;
    }

    .service-detail-branding-sec-5 .content-box ul li {
        padding: 0 9px 20px;
    }

    /*========== service detail branding page end ========== */
    /*========== service cyber security page ========== */
    .service-detail-branding-maine-sec.service-cyber-security-maine-sec .inner-heading b {
        font-size: 40px;
    }

    .service-detail-branding-sec-1 .branding-content-box .inner-heading-2 {
        font-size: 41px;
    }

    .service-detail-branding-sec-2.service-cyber-security-sec-2 .branding-content-box-2 .inner-heading-2 {
        font-size: 45px;
        line-height: 55px;
    }

    .service-cyber-security-sec-5 .content-box .box-1 .inner-para {
        font-size: 16px;
    }

    .service-cyber-security-sec-5 .content-box .box-1 .img-box {
        width: 370px;
    }

    .service-cyber-security-sec-5 .content-box .box-1 .text-heading {
        font-size: 21px;
    }

    /*========== service cyber security page end ========== */
    /*========== dos protection page ========== */
    .service-detail-branding-sec-1.service-dos-protection-sec-1 .branding-content-box .inner-heading-2 {
        font-size: 35px;
        line-height: 45px;
    }

    .service-dos-protection-sec-2 .content-box-1 .inner-para {
        font-size: 16px;
        margin-top: 10px;
    }

    .service-dos-protection-sec-3 .inner-heading-2 {
        font-size: 47px;
        line-height: 60px;
    }

    .service-dos-protection-sec-3 .content-box-1 ul li {
        font-size: 16px;
    }

    /*========== dos protection page end ========== */
    /*========== contact us page ========== */
    .contact-us-sec-1 .contact-box-2 ul {
        width: 50%;
    }

    /*========== contact us page end ========== */
    /*========== form popup page ========== */
    .pum-container.pum-responsive.pum-responsive-small {
        margin-left: -30% !important;
        width: 60% !important;
    }

    /*========== form popup page end ========== */
}

@media screen and (max-width: 992px) {

    #rev_slider_2_1 {
        height: 440px !important;
    }

    .main-slider #slider-2-slide-2-layer-2,
    .main-slider #slider-2-slide-26-layer-2,
    .main-slider #slider-2-slide-27-layer-21 {
        color: rgb(0 0 0) !important;
    }

    .main-slider .rs-parallax-wrap.rs-layer-hidden {
        top: 137px;
        left: 0;
    }

    .main-slider .spinner0 {
        display: block !important;
    }

    .main-slider .rs-parallax-wrap.rs-layer-hidden {
        visibility: visible;
        display: block !important;
    }

    .main-slider #slider-2-slide-2-layer-21,
    .main-slider #slider-2-slide-27-layer-2,
    .main-slider #slider-2-slide-26-layer-21 {
        color: rgb(0 0 0) !important;
    }

    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-2-layer-2 {
        position: absolute;
        left: -160px;
        top: -420px;
        margin-top: 0 !important;
    }

    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-26-layer-2 {
        position: absolute;
        left: 0px;
        top: -364px;
        margin-top: 0 !important;
        text-align: left !important;
    }

    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-27-layer-2 {
        position: absolute;
        left: 0;
        top: -358px;
        margin-top: 0 !important;
        text-align: left !important;
    }

    .main-slider .rs-parallax-wrap.rs-layer-hidden {
        left: 50px !important;
        top: 243px !important;
    }

    .main-slider #slider-2-slide-2-layer-26 {
        position: absolute;
        top: -260px;
        left: -240px;
    }

    .main-slider #slider-2-slide-26-layer-26 {
        position: absolute;
        top: -240px;
        left: 0;
    }

    .main-slider #slider-2-slide-27-layer-26 {
        position: absolute;
        top: -240px;
        left: 0;
    }

    .main-slider {
        height: 460px;
    }

    .security-carosuel #slider-1-slide-1-layer-2,
    .security-carosuel #slider-1-slide-24-layer-2,
    .security-carosuel #slider-1-slide-25-layer-2 {
        left: 14.0014px;
        top: -145px;
        color: rgb(255 255 255) !important;
        position: absolute;
        font-size: 28px !important;
    }

    #rev_slider_1_2_wrapper .rs-parallax-wrap.rs-layer-hidden {
        visibility: hidden;
        display: block !important;
        left: 20px !important;
        top: 200px !important;
        z-index: 20;
    }

    .security-carosuel #slider-1-slide-1-layer-21,
    .security-carosuel #slider-1-slide-25-layer-21,
    .security-carosuel #slider-1-slide-24-layer-21 {
        color: rgb(255 255 255) !important;
    }

    #rev_slider_1_2_wrapper .hermes.tp-bullets {
        top: 70% !important;
    }

    body #rev_slider_1_2 {
        border-radius: 0 !important;
        margin-top: 0px !important;
        margin-left: 0 !important;
        height: 551px !important;
    }

    body .full-service .service-heading .heading_title {
        font-size: 30px !important;
        margin: 30px 0 0 0;
    }

    .security-carosuel #rev_slider_1_2_wrapper {
        height: 460px !important;
    }

    .security-carosuel .gradient-button {
        top: -80px;
    }

    .security-carosuel #rev_slider_1_2_wrapper .hermes.tp-bullets {
        top: 75% !important;
    }

    body .diff-sec {
        margin-top: 47px;
        border-radius: 0 !important;
        margin-left: 0;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    body .newslter-sec {
        margin-top: 50px;
    }

    footer#footer .row-footer {
        padding: 55px 30px 30px !important;
    }

    body .featured-sec {
        background-position: 3px 265px !important;
        margin-top: 50px !important;
        margin-left: 30px !important;
        margin-right: 30px;
    }

    body .featured-sec p {
        font-size: 19px;
        line-height: 32px;
        width: 100%;
        margin: 24px auto;
        padding-left: 0px;
    }

    .featserc-sec .vc_col-sm-4 {
        width: 100%;
    }

    body form.newsletter {
        max-width: 80%;
        margin: 0 auto;
    }

    body .newslter-sec .tnp-field.tnp-field-button {
        float: right;
        position: relative;
        right: -8px;
        bottom: 48px;
    }

    body #footer .footer_top-area {
        background-color: #29abe2;
    }

    .main-slider #slider-2-slide-2-layer-21 {
        margin-top: 7px !important;
        width: 338.799px !important;
        font-size: 16px !important;
        line-height: 28px !important;
    }

    .main-slider #slider-2-slide-2-layer-2, .main-slider #slider-2-slide-2-layer-2 span {
        line-height: 38px !important;
        font-size: 35px !important;
    }

    .main-slider #slider-2-slide-2-layer-26 {
        position: absolute;
        top: -260px;
        left: 0;
        padding: 18px 40px !important;
    }

    #rev_slider_2_1_wrapper {
        height: 442px !important;
    }

    .fullservice-sec {
        text-align: center;
    }

    .fullservice-sec .service-heading {
        text-align: center;
    }

    body .fullservice-sec .coin-img .vc_column-inner {
        background-size: cover;
        min-height: 570px;
        max-width: 100%;
    }

    body .full-service .service-heading .heading_title br {
        display: none;
    }

    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-2-layer-2 {
        position: absolute;
        left: -60px;
        top: -330px;
        margin-top: 0 !important;
    }

    body .diff-sec .shiftnav-wrap .heading_title {
        font-size: 45px !important;
    }

    body .have-ques h3 {
        font-size: 22px;
        margin-top: 0;
    }

    body .have-ques h2 {
        font-size: 26px;
    }

    body .newslter-sec h2.vc_custom_heading.subscribe-heading {
        font-size: 37px !important;
    }

    body .newslter-sec .tnp-subscription {
        margin: 0px auto;
    }

    /*========== about page ========== */
    .about-bg .about-heading {
        padding-left: 25px;
    }

    .about-bg .about-heading h1 {
        font-size: 30px;
        line-height: 38px;
        margin-top: 10px;
    }

    .whatdo-sec .what-para p {
        padding: 0 20px 0;
    }

    .whowe-sec .inner-heading-2 {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 9px;
    }

    .whowe-sec p {
        font-size: 15px;
        line-height: 22px;
    }

    .whatdo-sec .what-para h2 {
        padding-bottom: 0px;
        font-size: 40px;
    }

    .whatdo-sec .what-para p {
        font-size: 15px;
        line-height: 22px;
    }

    .about-main-sec-3 {
        padding: 24em 0 50px;
        top: -110px;
    }

    .about-main-sec-3 .content-box .inner-heading-2 {
        font-size: 35px;
    }

    .clint-images-sec {
        margin: -40px 0 0;
    }

    .clint-images-sec h2.vc_custom_heading.happy-heading {
        padding-bottom: 10px;
        font-size: 40px !important;
    }

    /*========== about page end ========== */
    /*========== service page ========== */
    .inner-heading {
        font-size: 35px;
        line-height: 40px;
    }

    .inner-para br {
        display: none;
    }

    header.wgl-theme-header:before {
        top: -20px;
        width: 500px;
        height: 285px;
    }

    .service-maine-sec {
        padding: 20px 0 40px 30px;
    }

    .service-sec-1 .service-box .services_content {
        font-size: 14px;
        line-height: 20px;
    }

    .service-sec-1 .service-box h3.services_title {
        font-size: 15px;
    }

    .service-sec-1 .service-box .services_button {
        font-size: 16px;
        padding: 3px 22px;
    }

    /*========== service page end ========== */
    /*========== service detail branding page========== */
    .service-detail-branding-sec-1 .inner-heading-2 {
        font-size: 35px;
        font-weight: bold;
    }

    .service-detail-branding-sec-2 .branding-content-box-1 .inner-heading-2 {
        line-height: 34px;
        font-size: 30px;
    }

    .service-detail-branding-sec-2 .branding-content-box-1 .inner-para {
        font-size: 15px;
    }

    .service-detail-branding-sec-2 .branding-content-box-2 .inner-heading-2 {
        font-size: 45px;
        line-height: 50px;
    }

    .service-detail-branding-sec-3 .branding-content-box-1 .box-1 {
        padding: 15px 15px 15px;
    }

    .service-detail-branding-sec-3 .branding-content-box-1 .box-1 .text-1 {
        font-size: 50px;
        padding-right: 10px;
    }

    .service-detail-branding-sec-3 .branding-content-box-1 .box-1 .text-2 {
        font-size: 15px;
        line-height: 23px;
        padding: 13px 0 0;
    }

    .service-detail-branding-sec-3 .btn-box {
        margin-top: 0px;
    }

    .service-detail-branding-sec-4 {
        padding: 30px 0 45px;
    }

    .service-detail-branding-sec-4 .content-box .text-heading {
        font-size: 19px;
        padding-bottom: 5px;
        line-height: 25px;
    }

    .service-detail-branding-sec-4 .inner-heading-2 {
        font-size: 35px;
    }

    .service-detail-branding-sec-5 .inner-heading-2 {
        font-size: 35px;
    }

    .service-detail-branding-sec-5 .content-box ul li a {
        font-size: 17px;
        padding-top: 14px;
    }

    /*========== service detail branding page end ========== */
    /*========== service cyber security page ========== */
    .service-detail-branding-maine-sec.service-cyber-security-maine-sec .inner-heading {
        font-size: 30px;
    }

    .service-detail-branding-sec-1 .branding-content-box .inner-heading-2 {
        font-size: 29px;
    }

    .service-detail-branding-sec-3.service-cyber-security-sec-3 .branding-content-box-1 .box-1 {
        height: auto;
    }

    .service-detail-branding-sec-3.service-cyber-security-sec-3 .branding-content-box-1 .box-1 .text-1 span {
        font-size: 15px;
        margin: -27px 0 0px;
    }

    .service-cyber-security-sec-5 .inner-heading-2 {
        font-size: 35px;
    }

    .service-cyber-security-sec-5 .content-box .box-1 {
        display: inherit;
        padding: 26px 15px 30px 15px;
        text-align: center;
    }

    .service-cyber-security-sec-5 .content-box .box-1 .img-box {
        margin: 0 0 20px;
        width: inherit;
    }

    .service-cyber-security-sec-5 .content-box .box-1 .text-heading {
        font-size: 21px;
    }

    /*========== service cyber security page end ========== */
    /*========== our client page end ========== */
    .our-client-sec-1 {
        padding: 0px 0 0;
    }

    .our-client-sec-1 .content-box .box-1 {
        display: inherit;
        padding: 30px 15px 20px 15px;
        text-align: center;
    }

    .our-client-sec-1 .content-box .box-1 .img-box {
        margin: 0 0 20px;
        width: inherit;
        height: 60px;
    }

    .our-client-sec-1 .content-box .box-1 .inner-para {
        font-size: 16px;
        margin: 0px 11px 15px;
    }

    /*========== our client page end ========== */
    /*========== dos protection page ========== */
    .service-detail-branding-sec-1.service-dos-protection-sec-1 .branding-content-box .inner-heading-2 {
        font-size: 29px;
        line-height: 40px;
    }

    .service-dos-protection-sec-2 .content-box-1 {
        padding: 30px 10px 40px 15px;
    }

    .service-dos-protection-sec-2 .content-box-1 .heading-text {
        color: #212B44;
        font-size: 20px;
        font-weight: bold;
    }

    .service-dos-protection-sec-2 .content-box-1 .inner-para {
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 0;
    }

    .service-dos-protection-sec-3 .content-box-1 ul li {
        display: flex;
    }

    .service-dos-protection-sec-3 .content-box-1 ul li i {
        padding-top: 10px;
    }

    .service-dos-protection-sec-3 .inner-heading-2 {
        font-size: 37px;
        line-height: 50px;
    }

    /*========== dos protection page end ========== */
    /*========== contact us page ========== */
    .contact-us-sec-1 .contact-box-1 .letes-talk-form-box {
        padding: 25px 15px 30px 15px;
        margin: 6px;
    }

    .contact-us-sec-1 .contact-box-2 img {
        width: 95%;
    }

    .contact-us-sec-1 .contact-box-2 ul {
        width: 70%;
    }

    /*========== contact us page end ========== */
    /*========== form popup page ========== */
    .pum-container.pum-responsive.pum-responsive-small {
        margin-left: -35% !important;
        width: 70% !important;
    }

    /*========== form popup page end ========== */
}

@media screen and (max-width: 767px) {

    #rev_slider_2_1 {
        height: 347px !important;
    }

    #rev_slider_2_1_wrapper {
        height: 342px !important;
    }

    #rev_slider_2_1 rs-sbg {
        background-position: 100%;
    }

    header.wgl-theme-header.header_overlap .shiftnav-toggle-button {
        margin-right: 10px;
        margin-top: -4px;
        background: #222;
    }

    .main-slider #rev_slider_2_1 .rs-parallax-wrap {
        left: 20px !important;
    }

    .main-slider #slider-2-slide-2-layer-21,
    .main-slider #slider-2-slide-26-layer-21,
    .main-slider #slider-2-slide-27-layer-21 {
        margin-top: 37px !important;
        width: 290px !important;
        font-size: 17px !important;
        line-height: 28px !important;
        padding: 0;
        margin-left: 10px;
        text-align: left !important;
        color: rgb(0 0 0) !important;
    }

    .main-slider #slider-2-slide-2-layer-26 {
        top: -115px !important;
    }

    .position_center.header_side {
        float: left;
        padding-left: 15px;
    }

    .position_right.header_side {
        float: left;
    }

    .position_center.header_side img.logo-mobile {
        height: 50px !important;
    }

    header.wgl-theme-header.header_overlap .shiftnav-toggle-button {
        margin-right: 10px;
        margin-top: 0;
    }

    #rev_slider_2_1 {
        height: 547px !important;
    }

    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-2-layer-2 {
        position: absolute;
        left: 0;
        top: -239px;
        margin-top: 0 !important;
    }

    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-27-layer-2 {
        position: absolute;
        left: 8px;
        top: -238px;
        margin-top: 0 !important;
        text-align: left !important;
    }

    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-26-layer-2,
    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-27-layer-2,
    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-27-layer-2 span,
    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-26-layer-2 span {
        line-height: 36px !important;
        font-size: 26px !important;
    }

    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-26-layer-2 {
        position: absolute;
        left: 9px;
        top: -240px;
        margin-top: 0 !important;
        text-align: left !important;
    }

    .main-slider #slider-2-slide-2-layer-2,
    .main-slider #slider-2-slide-2-layer-2 span {
        line-height: 36px !important;
        font-size: 26px !important;
    }

    .main-slider .rs-parallax-wrap.rs-layer-hidden {
        left: 10px !important;
        top: 193px !important;
        right: 0;
    }

    .main-slider #slider-2-slide-2-layer-26 {
        position: absolute;
        top: -210px;
        left: 0;
        padding: 15px 35px !important;
    }

    .main-slider #slider-2-slide-27-layer-26 {
        position: absolute;
        top: -120px;
        left: 0;
        padding: 15px 35px !important;
    }

    .main-slider #slider-2-slide-26-layer-26 {
        position: absolute;
        top: -120px;
        left: 0;
        padding: 15px 35px !important;
    }

    .security-carosuel .gradient-button {
        width: 200px !important;
        height: 60px !important;
        text-transform: capitalize !IMPORTANT;
        font-size: 18px !important;
        top: -58px;
        padding: 20px 0 !important;
    }

    .security-carosuel #rev_slider_1_2_wrapper {
        height: 600px !important;
    }

    body #rev_slider_1_2 {
        height: 600px !important;
    }

    body .fullservice-sec .coin-img .vc_column-inner {
        background-size: cover;
        min-height: 280px;
    }

    body .full-service .service-heading .heading_title {
        font-size: 30px !important;
    }

    body .full-service .seofy_module_text.service-text {
        font-size: 14px !important;
        line-height: 22px !important;
    }

    body .full-service .learn-btn {
        padding-top: 10px;
    }

    body .learn-btn a {
        height: 60px;
        padding: 18px 25px !important;
    }

    body .featured-sec {
        margin: 30px 0 0 !important;
    }

    .security-carosuel #slider-1-slide-1-layer-19,
    .security-carosuel #slider-1-slide-24-layer-19,
    .security-carosuel #slider-1-slide-25-layer-19 {
        width: 200px !important;
        height: 100% !important;
        position: relative;
        left: -120px;
        right: 0;
        margin: 0 auto;
        margin-top: 20px;
    }

    .security-carosuel #slider-1-slide-1-layer-21,
    .security-carosuel #slider-1-slide-25-layer-21,
    .security-carosuel #slider-1-slide-24-layer-21 {
        color: rgb(255 255 255) !important;
        text-align: center !important;
        width: 336.688px !important;
        font-size: 16px !important;
    }

    #rev_slider_1_2_wrapper .rs-parallax-wrap.rs-layer-hidden {
        top: 290px !important;
    }

    .security-carosuel #slider-1-slide-1-layer-2,
    .security-carosuel #slider-1-slide-24-layer-2,
    .security-carosuel #slider-1-slide-25-layer-2 {
        left: 0;
        top: -200px;
        color: rgb(255 255 255) !important;
        position: absolute;
        font-size: 26px !important;
    }

    .security-carosuel .gradient-button {
        width: 167px !important;
        height: 50px !important;
        text-transform: capitalize !IMPORTANT;
        font-size: 18px !important;
        top: -98px;
        padding: 14px 0 !important;
    }

    .security-carosuel #rev_slider_1_2_wrapper .hermes.tp-bullets {
        top: 83% !important;
    }

    #rev_slider_1_2_wrapper .hermes.tp-bullets {
        top: 87% !important;
    }

    body .diff-sec .shiftnav-wrap .heading_title {
        margin-bottom: 50px;
        font-size: 30px !important;
        padding-top: 0;
        line-height: 38px !important;
    }

    body .diff-sec .seofy_module_infobox.layout_top .infobox_wrapper {
        padding: 0px 20px 0px 20px;
    }

    body #rev_slider_1_2 {
        border-radius: 0px !important;
    }

    body .featured-sec p {
        font-size: 16px;
        line-height: 25px;
    }

    .featserc-sec .serv-icon-1 {
        margin-top: 66px;
        padding-left: 0;
    }

    .featserc-sec .serv-btn a {
        width: 240px;
        height: 60px;
        padding: 19px 25px !important;
    }

    .wpb_wrapper.shiftnav-wrap .heading_title {
        font-size: 36px !important;
    }

    .seofy_module_infobox.infobox_alignment_left {
        text-align: center !important;
    }

    body .newslter-sec h2.vc_custom_heading.subscribe-heading {
        font-size: 23px !important;
    }

    body .tnp-field.tnp-field-email {
        width: 100%;
        float: left;
        height: 100px;
        margin-top: -60px;
    }

    body .tnp-field.tnp-field-email input.tnp-email {
        width: 90%;
        margin: 0 auto !important;
    }

    body .tnp-field.tnp-field-button {
        float: right;
        position: relative;
        right: 62px;
        bottom: 0px;
    }

    body .have-ques h2 {
        font-size: 20px;
        font-weight: 500;
        line-height: 46px;
    }

    body input.tnp-button {
        background: #FF65A7 !important;
        background-size: unset;
        border-radius: 40px;
        float: inherit;
        min-height: 50px;
        width: 160px;
        font-size: 12px;
    }

    body .newslter-sec .tnp-field.tnp-field-button {
        float: initial;
        position: inherit;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
    }

    body .newslter-sec {
        margin-top: 0;
        text-align: center;
    }

    footer#footer .row-footer {
        padding: 0 30px 30px !important;
    }

    body form.newsletter input.tnp-email {
        width: 100%;
        padding: 34px !important;
        text-align: center;
    }

    body .newslter-sec input.tnp-button {
        width: 180px;
        font-size: 15px;
        padding: 0 0 !important;
        margin: 0 auto;
    }

    body .tnp-field.tnp-field-email input.tnp-email {

    }

    .row-footer .vc_single_image-wrapper.vc_box_border_grey img {
        display: none;
    }

    .row-footer {
        padding: 0 30px 0px !important;
    }

    .row-footer .acenter {
        text-align: left !important;
    }

    body .diff-sec {
        border-radius: 0 !important;
        padding-bottom: 4px !important;
        margin-top: 0;
    }

    body .diff-sec .vc_row:not(.vc_row-no-padding) .vc_column_container > .vc_column-inner {
        padding-left: 0 !important;
    }

    body .fullservice-sec .wpb_wrapper.shiftnav-wrap a.wgl_button_link {
        height: 50px;
        padding: 14px 25px !important;
        width: 167px;
        font-weight: bold;
    }

    .featserc-sec .serv-btn a {
        width: 230px;
        height: 50px;
        padding: 15px 0 !important;
        font-size: 17px !important;
    }

    .featserc-sec .serv-btn a .serv-btn {
        width: 230px;
        height: 50px;
        text-align: center;
        margin: 0px auto;
    }

    body .featserc-sec .wpb_single_image img {
        max-width: 80%;
    }

    body footer#footer .row-footer .wgl_button-l .wgl_button_link {
        padding: 12px 0;
        width: 150px;
        font-size: 16px !important;
    }

    body footer#footer .row-footer .vc_row-has-fill > .vc_column_container > .vc_column-inner {
        padding-top: 15px;
    }

    header.wgl-theme-header .shiftnav-toggle-button {
        margin-top: 0;
    }

    header.wgl-theme-header .shiftnav-toggle-button {
        background: #443 !important;
    }

    /*========== about page ========== */
    .about-bg {
        padding: 30px 0 30px 0;
    }

    .about-bg .about-heading h1 {
        margin-top: 0;
        font-size: 25px;
        line-height: 35px;
    }

    .about-bg .about-heading {
        padding-left: 15px;
    }

    .about-bg .wpb_single_image img {
        display: none;
    }

    .whowe-sec {
        text-align: center;
    }

    .whowe-sec .wpb_single_image img {
        width: 80%;
    }

    .whowe-sec .wpb_single_image .vc_single_image-wrapper {
        text-align: center;
    }

    .whowe-sec .inner-heading-2 {
        font-size: 30px;
        line-height: 50px;
        padding-bottom: 6px;
        padding-top: 20px;
    }

    .wpb_text_column.wpb_content_element.what-para {
        background-color: #212B44;
        padding: 20px 0 40px;
    }

    .whatdo-sec .what-para h2 {
        padding-bottom: 0px;
        font-size: 33px;
        color: #fff;
    }

    .whatdo-sec .what-para p {
        font-size: 15px;
        line-height: 22px;
        color: #ffffff;
        padding: 0 15px 0;
    }

    .about-main-sec-3 {
        padding: 3em 0 30px;
        top: 0;
        text-align: center;
        background: none;
    }

    .about-main-sec-3 .content-box .inner-heading-2 {
        font-size: 30px;
    }

    .clint-images-sec {
        margin: 0;
        text-align: center;
    }

    .clint-images-sec h2.vc_custom_heading.happy-heading {
        padding-bottom: 0px;
        font-size: 33px !important;
    }

    .clint-images-sec .wpb_single_image.vc_align_left {
        text-align: center;
    }

    /*========== about page end ========== */
    /*========== service page ========== */
    header.wgl-theme-header:before {
        top: 0;
        width: 100%;
        height: 220px;
    }

    .service-maine-sec {
        padding: 20px 0 10px 15px;
    }

    .inner-heading {
        font-size: 30px;
        line-height: 37px;
    }

    .inner-para {
        font-size: 15px;
        line-height: 21px;
        margin-top: 13px;
    }

    .service-maine-sec .wpb_single_image img {
        display: none;
    }

    /*========== service page end ========== */
    /*========== service detail branding page ========== */
    .service-detail-branding-maine-sec {
        padding: 30px 0 30px 15px;
    }

    .service-detail-branding-maine-sec .wpb_single_image img {
        display: none;
    }

    .service-detail-branding-maine-sec .inner-heading {
        font-size: 25px;
        line-height: 35px;
    }

    .service-detail-branding-sec-1 .wpb_single_image img {
        max-width: 70%;
    }

    .service-detail-branding-sec-1 .branding-content-box {
        padding: 30px 0 0 0;
        text-align: center;
    }

    .service-detail-branding-sec-1 .inner-heading-2 {
        font-size: 30px;
    }

    .service-detail-branding-sec-2 {
        padding: 52px 0 60px;
        text-align: center;
    }

    .service-detail-branding-sec-2 .branding-content-box-1 .inner-heading-2 br {
        display: none;
    }

    .service-detail-branding-sec-2 .branding-content-box-1 .inner-heading-2 {
        line-height: 29px;
        font-size: 24px;
    }

    .service-detail-branding-sec-2 .branding-content-box-2 .inner-heading-2 {
        font-size: 35px;
        line-height: 40px;
        margin: 15px 0 0;
    }

    .service-detail-branding-sec-2 .branding-content-box-2 .inner-heading-2:after {
        bottom: -30px;
    }

    .service-detail-branding-sec-4 .inner-heading-2 {
        font-size: 30px;
        line-height: 40px;
    }

    .service-detail-branding-sec-4 .content-box {
        padding-bottom: 15px;
    }

    .service-detail-branding-sec-4 {
        padding: 35px 0 30px;
    }

    .service-detail-branding-sec-5 .inner-heading-2 {
        font-size: 30px;
        padding-bottom: 30px;
        line-height: 40px;
    }

    .service-detail-branding-sec-5 {
        padding: 40px 0 0;
    }

    .service-detail-branding-sec-5 .content-box ul li {
        padding: 0 5px 20px;
    }

    .service-detail-branding-sec-5 .content-box ul li a {
        font-size: 15px;
        padding-top: 14px;
        width: 160px;
    }

    /*========== service detail branding page end ========== */
    /*========== service cyber security page ========== */
    .service-detail-branding-maine-sec.service-cyber-security-maine-sec {
        padding: 30px 20px 30px 15px;
    }

    .service-detail-branding-maine-sec.service-cyber-security-maine-sec .inner-heading {
        font-size: 20px;
    }

    .service-detail-branding-maine-sec.service-cyber-security-maine-sec .inner-heading b {
        font-size: 28px;
    }

    .service-detail-branding-sec-2.service-cyber-security-sec-2 .branding-content-box-2 .inner-heading-2 br {
        display: none;
    }

    .service-detail-branding-sec-2.service-cyber-security-sec-2 .branding-content-box-2 .inner-heading-2 {
        font-size: 35px;
        line-height: 45px;
    }

    .service-detail-branding-sec-2.service-cyber-security-sec-2 .branding-content-box-2:before,
    .service-detail-branding-sec-2 .branding-content-box-2:after {
        z-index: -1;
        opacity: 0.5;
    }

    .service-cyber-security-sec-5 {
        padding: 40px 0 0;
    }

    .service-cyber-security-sec-5 .inner-heading-2 {
        font-size: 30px;
        line-height: 40px;
    }

    /*========== service cyber security page end ========== */
    /*========== our client page ========== */
    .our-client-sec-1 .content-box .box-1 {
        margin: 13px 8px;
    }

    .our-client-sec-1 .content-box .box-1 .img-box {
        height: auto;
    }

    .our-client-sec-1 .content-box .box-1 .inner-para {
        font-size: 16px;
        margin: 0px 0 15px;
    }

    /*========== our client page end ========== */
    /*========== dos protection page ========== */
    .service-dos-protection-sec-2 {
        padding: 50px 0 0;
    }

    .service-dos-protection-sec-2 .wpb_text_column :last-child {
        margin-bottom: 6px;
    }

    .service-dos-protection-sec-2 .content-box-1 {
        padding: 15px 10px 20px 15px;
    }

    .service-dos-protection-sec-3 {
        padding: 25px 0 50px;
        margin: 35px 0 0;
    }

    .service-dos-protection-sec-3 .inner-heading-2 br {
        display: none;
    }

    .service-dos-protection-sec-3 .inner-heading-2 {
        font-size: 28px;
        line-height: 40px;
        text-align: center !important;
        margin-bottom: 14px !important;
    }

    .service-dos-protection-sec-3 .content-box-1 .btn-box .service-btn {
        font-size: 16px;
        padding: 6px 40px;
        height: 45px;
        margin: 20px 0 0 25px;
    }

    /*========== dos protection page end ========== */
    .contact-us-sec-1 .contact-box-1 .letes-talk-form-box {
        padding: 25px 15px 30px 15px;
        margin: 6px;
    }

    .contact-us-sec-1 .contact-box-2 img {
        margin-top: 40px;
    }

    .contact-us-sec-1 .contact-box-2 ul {
        width: 70%;
        margin: 25px auto 0;
    }

    .contact-us-sec-1 .contact-box-2 ul li a {
        font-size: 16px;
    }

    /*========== contact us page end ========== */
    /*========== form popup page ========== */
    .pum-container.pum-responsive.pum-responsive-small {
        margin-left: -45% !important;
        width: 90% !important;
    }

    #popmake-2484 {
        padding: 25px 15px 20px;
        top: 40px !important;
    }

    #popmake-2484 .pum-title {
        font-size: 35px;
        margin-bottom: 0;
    }

    #popmake-2484 .letes-talk-form-box .text-1 {
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 20px;
        font-weight: 400;
    }

    #popmake-2484 .letes-talk-form-box .text-1 br {
        display: none;
    }

    #popmake-2484 .letes-talk-form-box .wpcf7-form-control {
        height: 50px;
        font-size: 15px;
        padding: 0 15px;
        border-radius: 4px;
    }

    #popmake-2484 .letes-talk-form-box label {
        margin-bottom: 0;
    }

    #popmake-2484 .letes-talk-form-box textarea.wpcf7-form-control.wpcf7-textarea {
        padding: 15px 15px;
        height: 100px;
    }

    #popmake-2484 .letes-talk-form-box .btn-box .form-btn {
        font-size: 16px;
        padding: 0 35px;
        height: 48px;
        margin-top: 3px;

    }

    /*========== form popup page end ========== */
}

@media screen and (max-width: 360px) {
    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-26-layer-2,
    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-27-layer-2,
    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-27-layer-2 span,
    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-26-layer-2 span {
        line-height: 36px !important;
        font-size: 24px !important;
    }

    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-2-layer-2,
    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-26-layer-2,
    .main-slider #rev_slider_2_1_wrapper #slider-2-slide-27-layer-2 {
        top: -225px;
    }

    /*========== service detail branding page ========== */
    .service-detail-branding-sec-5 .content-box ul li a {
        width: 153px;
    }

    /*========== service detail branding page end ========== */
}

.home .shiftnav-toggle-button {
    background-color: transparent !important;
}

.mission-sec {
    min-height: 1270px;
}

.mission-content {
    margin-top: -17em;
}



